

.flip-card {
  perspective: 1000px;
  width: 300px;
  height: 400px;
  margin: 15px auto ;

}


.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
 

}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display:flex;
  flex-direction: column;
  border-radius: 15px;
  border: solid white 3px;
  margin: 5px 5px;
}

.flip-card-front {
  background-color: #d9ec6c;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #ca6df5;
  border: solid rgb(176, 109, 190) 2px;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
    border: solid #d9ec6c 3px;

}
.field-container{
   border: solid white 1px;
   border-radius: 10px;
   background-color: rgb(223, 215, 215);
   color: rgb(81, 77, 77);
   width: 80%;
   height: 100px;
   text-align: left;
   margin: 15px;
   padding: 10px;
}

h2,h3{
   margin: 5px;
   padding: 5px;
   color: d9ec6c;
}

@media (max-width: 850px){
  .flip-card{
    margin-top: 30px;
  }
}